/* .App {
  text-align: center;
} */

.Saved-notes{
  height: 40vmin;
  width : 25vw;
}


#newNote {
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#notebox {
  height: 40vmin;
  width : 25vw;
}

#textbox {
  height: 40vmin;
  width : 25vw;
  background-color: lightgoldenrodyellow;
  border-style: hidden;
}


.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: lightsteelblue;
}

