@import url('https://fonts.googleapis.com/css?family=Pacifico');


/* .App {
  text-align: center;
} */

.Saved-notes{
  height: 40vmin;
  width : 25vw;
}

h1{
  font-family: 'Pacifico', cursive;
}

#newNoteButton {
  /* margin-top: 20px; */
  justify-content: center;
  align-items: center;
}

#newNoteButton:hover{
  background-color: lightyellow;
  border-style:double;
  border-radius: 4px;

}

#deleteNoteButton {
  margin-left: 10px;
}

#deleteNoteButton:hover {
  background-color: lightyellow;
  border-style:double;
  border-radius: 4px;
}

/* #notebox {
  height: 40vmin;
  width : 25vw;
  margin-bottom: 20px;
} */

#textbox {
  height: 40vmin;
  width : 25vw;
  background-color: lightpink;
  border-style: hidden;
  font-size: 18px;
  padding: 10px;
  /* color: lightslategray; */
}

.Note{
  font-size: calc(12px + 2vmin);
}

.Note:hover{
  color: lightslategrey;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: lightsteelblue;
}

